div#pageWrapper {
    grid-template-areas:
    "header header"
    "navigation content"
    "footer footer";
    grid-template-columns: 150px auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    a.myjump {display: none;}
    nav ul {
    margin-right: 1%;
}

/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
